---
import ProjectsCarouselReact from "./carousel.tsx"
---

<div class="border-r border-b border-r-border border-b-border p-6 flex flex-col justify-between overflow-hidden gap-0">
  <ProjectsCarouselReact client:load />
</div>
