---
import WorkCarousel from "./carousel.tsx"
import { works } from "./data"
---

<div class="h-full min-h-0 max-layout:min-h-[350px] max-layout:max-h-[550px]">
  <WorkCarousel works={works} client:load />
</div>
