---
import { Button } from "@workspace/ui/components/button"
import { Icons } from "@/icons"
---

<header class="flex flex-col">
  <div class="h-10 border-b">
    <div class="h-full container">
      <div class="h-full border-x"></div>
    </div>
  </div>
  <div class="h-10 border-b">
    <div class="h-full container">
      <div class="h-full border-x flex justify-between">
        <Button client:load variant="ghost" className="h-full border-r border-r-border text-gray-400 hover:text-gray-700/40"><Icons.ArrowLeft /></Button>
        <div class="flex-1 bg-[url('/gggrain.svg')] bg-cover bg-center bg-no-repeat" />
        <Button client:load variant="ghost" className="h-full border-l border-l-border text-gray-400 hover:text-gray-700/40"><Icons.ArrowRight /></Button>
      </div>
    </div>
  </div>
</header>
