---
import CalCom from "@/components/cal-com.astro"
import { ThemeToggle } from "@/components/theme-toggle"
---

<header class="flex flex-col">
  <div class="h-control border-b">
    <div class="h-full container">
      <div class="h-full border-x"></div>
    </div>
  </div>
  <div class="h-control border-b">
    <div class="h-full container">
      <div class="h-full border-x flex justify-between">
        <CalCom />
        <div class="flex-1 bg-grain" />
        <ThemeToggle client:idle />
      </div>
    </div>
  </div>
</header>
