---
import { getCollection } from "astro:content";
import WritingsCarousel from "./carousel.tsx"

const writingEntries = await getCollection("writings");
const writings = writingEntries.map((entry, i) => ({
  date: entry.data.date,
  desc: entry.data.description,
  num: String(i + 1).padStart(2, "0"),
  slug: entry.id,
  title: entry.data.title,
}));
---

<div class="h-full min-h-0 max-layout:min-h-[350px] bg-surface">
  <WritingsCarousel writings={writings} client:load />
</div>
