---
import WritingsCarousel from "./carousel.tsx"
import { writings } from "./data"
---

<div class="h-full min-h-0 max-layout:min-h-[350px] bg-surface">
  <WritingsCarousel writings={writings} client:load />
</div>
