---
import Layout from "@/layouts/main.astro"
import Masthead from "@/sections/home/masthead/index.astro"
import Projects from "@/sections/home/projects/index.astro"
import Stack from "@/sections/home/stack/index.astro"
import Contact from "@/sections/home/contact/index.astro"
---

<Layout>
  <div id="main-scroll" class="h-full flex flex-col overflow-y-auto">
    <div class="grid grid-cols-2 max-[900px]:grid-cols-1">
      <Masthead />
    </div>

    <div class="grid grid-cols-2 max-[900px]:grid-cols-1">
      <Contact />
      <Projects />
    </div>

    <div class="grid max-[480px]:grid-cols-1">
      <Stack />
    </div>
  </div>
</Layout>
