---
import Layout from "@/layouts/main.astro"
import Masthead from "@/sections/home/masthead/index.astro"
import Projects from "@/sections/home/projects/index.astro"
import Quote from "@/sections/home/quote/index.astro"
---

<Layout>
  <div
    id="main-scroll"
    class="h-full flex flex-col overflow-y-auto [scrollbar-width:none] [-ms-overflow-style:none] [&::-webkit-scrollbar]:hidden"
  >
    <div class="grid grid-cols-[60%_40%] max-[900px]:grid-cols-1">
      <Masthead />
    </div>

    <div class="grid grid-cols-[40%_60%] max-[900px]:grid-cols-1">
      <Quote />
      <Projects />
    </div>

    <!-- <div> -->
    <!--   <Posts /> -->
    <!-- </div> -->
  </div>
</Layout>
