---
import Layout from "@/layouts/main.astro"
import Hero from "@/sections/home/hero/index.astro"
import Work from "@/sections/home/work/index.astro"
import Quote from "@/sections/home/quote/index.astro"
import Setup from "@/sections/home/setup/index.astro"
import Writings from "@/sections/home/writings/index.astro"
---

<Layout>
  <div
    id="main-scroll"
    class="h-full flex flex-col overflow-hidden max-layout:overflow-y-auto [scrollbar-width:none] [-ms-overflow-style:none] [&::-webkit-scrollbar]:hidden"
  >
    <div class="layout:h-[35%] grid grid-cols-[60%_40%] min-h-0 max-layout:grid-cols-1 max-layout:h-auto max-layout:min-h-fit">
      <Hero />
    </div>

    <div class="layout:h-[40%] min-h-0 grid grid-cols-[25%_75%] max-layout:grid-cols-1 max-layout:flex-none max-layout:min-h-fit">
      <Quote />
      <Work />
    </div>

    <div class="layout:h-[25%] min-h-0 grid grid-cols-[55%_45%] max-layout:grid-cols-1 max-layout:flex-none max-layout:min-h-fit">
      <Writings />
      <Setup />
    </div>
  </div>
</Layout>
