---
import Layout from "../layouts/main.astro"
import Masthead from "../sections/home/masthead/index.astro"
import Projects from "../sections/home/projects/index.astro"
import Stack from "../sections/home/stack/index.astro"
---

<Layout>
  <div class="flex flex-col">
    <div class="grid grid-cols-[auto_3fr_2fr] max-[900px]:grid-cols-1">
      <Masthead />
    </div>

    <div class="grid grid-cols-2 max-[900px]:grid-cols-1">
      <Projects />
      <Stack />
    </div>

    <div class="grid max-[480px]:grid-cols-1">
    </div>
  </div>
</Layout>
