---
import "@workspace/ui/globals.css"
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>Abbes | Portfolio</title>
  </head>
  <body class="min-h-dvh p-4 max-[480px]:p-2">
    <slot />
  </body>
</html>

<style is:global>
  .overlay {
    display: none;
  }

  .overlay:target {
    display: flex;
    flex-direction: column;
  }

  body:has(.overlay:target) .bento {
    display: none;
  }

  .overlay:target ~ .overlay {
    display: none;
  }
</style>
